#warningtext{
  color:red;
  visibility: hidden;
}

#zipcode-input{
    font-size: 17px;
    min-width: 250px;
}

/*6-Gridsystem*/
.my-col{

    height: 250px;
    width: 250px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align:left; 
    font-size: 18px

}

/* Title */
.my-title{
    font-size:26px;
    padding-left:5px;
    padding-bottom:15px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    
} 

.home-step{
    padding-top:3px;
    padding-left:0px;
    text-align:left;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#solar-panel{
    font-size: 80px;

}

.card-left{
    text-align:center;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.card-body{
    text-align:center;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 25px;

}